<div class="mt-4">
    <form method="POST" action="/courses/store">
        <h3>DANG KHOA HOC</h3>
        <div class="mb-3">
            <label for="name" class="form-label">Tên Khóa học</label>
            <input name="name" type="text" class="form-control" id="NameCource" placeholder="Tên khóa học">
        </div>
        <div class="mb-3">
            <label for="video" class="form-label">VideoID</label>
            <input name="video" type="text" class="form-control" id="NameCource" placeholder="VideoID">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" id="Decription" name="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Cource</button>

    </form>
</div>